# Chap6-1 DataFrame loc,iloc
### DataFrame比numpy ndarry(element-wise)提供資料統整的功能
### DataFrame通常為二維資料
### 橫的為列(索引index),直的為欄(column)

In [23]:
#隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame= pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.649596  0.935199  0.867123  0.010912
b  0.237087  0.698182  0.305460  0.235908
c  0.652800  0.353892  0.284117  0.145997
d  0.835135  0.122123  0.592508  0.758690

In [26]:
frame.describe() #dexcribe描述

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.593654  0.527349  0.512302  0.287877
std    0.253036  0.360472  0.275186  0.327213
min    0.237087  0.122123  0.284117  0.010912
25%    0.546469  0.295949  0.300125  0.112226
50%    0.651198  0.526037  0.448984  0.190952
75%    0.698384  0.757436  0.661161  0.366603
max    0.835135  0.935199  0.867123  0.758690

### loc 用欄位來找出DataFrameㄉ資料
### iloc用索引來定位DataFrameㄉ資料
### .loc用[列,欄]來定位資料，中間用,分隔

In [8]:
frame.loc['a','A']

0.8418017586259374

In [9]:
#取前兩列的對應資料
frame.loc['a':'b',:]   #:就是取?邊到?邊的
                       #frame就等於frame.loc[:,:]

          A         B         C         D
a  0.841802  0.361873  0.842432  0.198216
b  0.016902  0.945483  0.883222  0.473464

In [10]:
#取前兩欄的對應資料
frame.loc[:,'A':'B']

          A         B
a  0.841802  0.361873
b  0.016902  0.945483
c  0.724604  0.502230
d  0.614969  0.966072

In [15]:
#取特殊列、欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.841802  0.361873  0.842432  0.198216
c  0.724604  0.502230  0.329563  0.882791
          A         C
a  0.841802  0.842432
b  0.016902  0.883222
c  0.724604  0.329563
d  0.614969  0.394780
          A         D
a  0.841802  0.198216
d  0.614969  0.005300

### iloc是利用索引與欄索引進行資料定位,都是從0開始

In [16]:
frame.iloc[0,0]

0.8418017586259374

In [13]:
#取前兩列的資料
frame.iloc[0:2,:]   #0:2前面包含(0),後面不包含(2)

          A         B         C         D
a  0.841802  0.361873  0.842432  0.198216
b  0.016902  0.945483  0.883222  0.473464

In [14]:
#取特殊列、欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.841802  0.361873  0.842432  0.198216
c  0.724604  0.502230  0.329563  0.882791
          A         C
a  0.841802  0.842432
b  0.016902  0.883222
c  0.724604  0.329563
d  0.614969  0.394780
          A         D
a  0.841802  0.198216
d  0.614969  0.005300