## Pandas Data Frame
## ·Pandas是Python常用的數據分析涵式庫，2009年底開源，提供高效能，簡易使用的資料格式
## (Date Frame)讓使用者可以快速操作及分析資料
## ·在異質數據的讀取、轉換和處理上，都讓分析人員更容易處理，例如:從列、欄資料中找到想要的數值。
## ·Pandas提供DataFrame則是用來處理結構化(Table like)的資料，例如關聯式資料庫、CSV等等。 透過載入至Pandas的資料結構物件後，可以透過結構物件所提供的方法，來快速提地進行資料的前處理，如資料補值，空值去除或取代等。

In [1]:
import pandas as pd

In [2]:
groups = ["Modern Wed","DevOps","Cloud","Big Data","Security","自我挑戰組"]
ironmen = [59,9,19,14,6,77]
ironmen_dict = {'groups':groups,"ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  Modern Wed       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77

In [3]:
print(ironmen_df.sum())      #計算鐵人總數
print(ironmen_df.mean())     #計算平均鐵人數
print(ironmen_df.median())   #計算鐵人中位數
print(ironmen_df.describe()) #列出所有描述性統計

groups     Modern WedDevOpsCloudBig DataSecurity自我挑戰組
ironmen                                           184
dtype: object
ironmen    30.666667
dtype: float64
ironmen    16.5
dtype: float64
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [4]:
import numpy as np
groups = ["Modern Wed","DevOps",np.nan,"Big Data","Security","自我挑戰組"]
ironmen = [59,9,19,14,6,np.nan]
ironmen_dict = {'groups':groups,"ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---")
print(ironmen_df.loc[:,"groups"].isnull())
print("---")
print(ironmen_df.loc[:,"ironmen"].notnull())

       groups  ironmen
0  Modern Wed     59.0
1      DevOps      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
---
0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
---
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [6]:
ironmen_df.groups[ironmen_df.loc[:, "groups"].isnull()] = "不知道名字組"
ironmen_df.ironmen[ironmen_df.loc[:, "ironmen"].notnull()] +=10
ironmen_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       groups  ironmen
0  Modern Wed     69.0
1      DevOps     19.0
2      不知道名字組     29.0
3    Big Data     24.0
4    Security     16.0
5       自我挑戰組      NaN